.conatiner {
    display:flex;
    flex-direction:column;
    margin: 0 auto;
    width:100%;
    background-color:blue;
    justify-content:center;
    align-items:center;
    align-content:center;
    min-height: 100vh;

}

.title {
    display:flex;
    position: relative;
    padding: 45px 0;
}

.images {
    display:flex;
    width:80%;
    flex-direction:row;
    position: relative;
    justify-content:center;
    align-items:center;
    align-content:center;
    

}

.image {
    display:flex;
    width:70%;
    background-color:blue;
    justify-content:center;
    align-items:center;
    align-content:center;
    border-radius:50px;

}

.description h4 {
    width:80%;
    font-style: normal;
    font-weight: 150;
    font-stretch:extra-expanded;
    padding:50px 0;
}